
/* .main-App{
  padding:0;
  margin:0;
  text-align : center;
  justify-content: center;
}
.btn{
  width: 10vw;
}

.center-block{
  display: table;
  margin: auto;
}

.black-bg{
  background: rgb(0,0,0);
background: linear-gradient(86deg, rgba(0,0,0,1) 0%, rgba(32,32,32,1) 53%, rgba(80,80,80,1) 92%);
} */